.fields-container {

  label {
    display: block;
    margin-bottom: 1.5rem;
  }

  input {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background: none;
    border: none;

    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: inherit;

    &-[type='password']{
      letter-spacing: 0.3em;
    }

  }
}

.error {
  label {
    color: orangered;
  }
  input {
    border: 2px solid orangered;
  }
}